In [4]:
import pandas as pd
import numpy as np
import random
from pandas import Series, DataFrame

In [9]:
"""
For this exercise, I want you to create a data frame that represents a company’s
inventory of five products. Each product has a unique ID number (a two-digit integer
will do), name, wholesale price, retail price, and number of sales in the last month.
You’re making it up, so if you’ve always wanted to be a profitable starship dealer, this is
your chance! Once you have created this data frame, calculate the total net revenue
from all your products.
"""

df = pd.DataFrame({
    'id' : ['11', '34', '45'],
    'name' : ['prod_1', 'prod_2', 'prod_3'],
    'wholesale_price' : [10, 34, 643],
    'retail_price' : [15, 42, 700],
    'sales' : [234, 120, 51]
})

df

   id    name  wholesale_price  retail_price  sales
0  11  prod_1               10            15    234
1  34  prod_2               34            42    120
2  45  prod_3              643           700     51