In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
passenger_count = pd.read_csv('../../../data/taxi-passenger-count.csv', header=None, names = ['passenger_count']).squeeze()

distance = pd.read_csv('../../../data/taxi-distance.csv', header = None, names = ['distance']).squeeze()

df = pd.concat([passenger_count, distance], axis = 1)

df

      passenger_count  distance
0                   1      1.63
1                   1      0.46
2                   1      0.87
3                   1      2.13
4                   1      1.40
...               ...       ...
9994                1      2.70
9995                1      4.50
9996                1      5.59
9997                6      1.54
9998                1      5.80

[9999 rows x 2 columns]

#### Exercise

In this exercise, you are to create a two-column data frame from the taxi data we looked at in exercise 6.

- The first column should contain the **passenger count** for each trip.
- The second column should contain the **distance (in miles)** for each trip.

Once you have created this data frame, you should:

- Count how many trip distances were **outliers**.
- Calculate the **mean number of passengers for outliers**. Is it different from the
mean number of passengers for all trips?

In [3]:
distance_iqr = (df['distance'].quantile(0.75))- (df['distance'].quantile(0.25))
distance_upper_bound_of_outliers = df['distance'].quantile(0.75) + (1.5 * distance_iqr)
distance_lower_bound_of_outliers = df['distance'].quantile(0.25) - (1.5 * distance_iqr) # NOTE: this is a negative value so i ignore it

print(f'{len(df.loc[(df['distance'] > distance_upper_bound_of_outliers)])} trip distances were outliers.')

1219 trip distances were outliers.

In [4]:
outliers_passenger_count = df.loc[df['distance'] > distance_upper_bound_of_outliers]['passenger_count'].mean()
all_trip_passenger_count = df['passenger_count'].mean()

print(
    f'The outliers passengers count is {outliers_passenger_count}'
    f'\nin contrast to the fact that all trip passengers count is {all_trip_passenger_count}'
)

The outliers passengers count is 1.7301066447908122
in contrast to the fact that all trip passengers count is 1.6594659465946595

### Beyond the exercise_1

##### __If you define outliers to be the lowest 10% and highest 10% of values, how many were there?__
##### __Why is (or isn’t) this a good measure?__

In [5]:
lowest_10 = df['distance'].quantile(0.1)
highest_10 = df['distance'].quantile(0.9)

print(
    f'Lowest 10% start from {lowest_10}'
    f'\nHighest 10% start from {highest_10}\n'
)

low_outliers = df[df['distance'] < lowest_10]['distance'].count()
high_outliers = df[df['distance'] > highest_10]['distance'].count()

print(f'There are {low_outliers} low outliers')
print(f'There are {high_outliers} high outliers\n')


print(
    f'In my opinion, classifying the lowest 10% and highest 10% of values as outliers here'
    f'\nis not appropriate compared to using the 0.25 and 0.75 quantiles and the 1.5*IQR method,'
    f'\nbecause many completely normal short trips would be classified as outliers this way.'
)

Lowest 10% start from 0.63
Highest 10% start from 8.2

There are 985 low outliers
There are 999 high outliers

In my opinion, classifying the lowest 10% and highest 10% of values as outliers here
is not appropriate compared to using the 0.25 and 0.75 quantiles and the 1.5*IQR method,
because many completely normal short trips would be classified as outliers this way.