In [52]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [53]:
#for digit grouping and control floating-point numbers

pd.set_option('display.float_format', '{:,.2f}'.format)

In [54]:
df = pd.DataFrame({
    'id' : ['23', '96', '97', '15', '87'],
    'name' : ['computer', 'Python Workout', 'Pandas Workout', 'banana', 'sandwich'],
    'wholesale_price' : [500, 35, 35, 0.5, 3],
    'retail_price' : [1000, 75, 75, 1, 5],
    'sales' : [100, 1000, 500, 200, 300]
})

In [55]:
new_products = pd.DataFrame({
    'id' : ['24', '17', '17'],
    'name' : ['phone', 'apple', 'pear'],
    'wholesale_price' : [200, 0.5, 0.6],
    'retail_price' : [500, 1, 1.2],
    'sales' : [np.nan, np.nan, np.nan]
})

In [56]:
df = pd.concat([df, new_products], ignore_index=True)

df

   id            name  wholesale_price  retail_price    sales
0  23        computer           500.00      1,000.00   100.00
1  96  Python Workout            35.00         75.00 1,000.00
2  97  Pandas Workout            35.00         75.00   500.00
3  15          banana             0.50          1.00   200.00
4  87        sandwich             3.00          5.00   300.00
5  24           phone           200.00        500.00      NaN
6  17           apple             0.50          1.00      NaN
7  17            pear             0.60          1.20      NaN

In [57]:
df.loc[
    [5, 6, 7],
    ['sales']
] = [52, 200, 143]

df

   id            name  wholesale_price  retail_price    sales
0  23        computer           500.00      1,000.00   100.00
1  96  Python Workout            35.00         75.00 1,000.00
2  97  Pandas Workout            35.00         75.00   500.00
3  15          banana             0.50          1.00   200.00
4  87        sandwich             3.00          5.00   300.00
5  24           phone           200.00        500.00    52.00
6  17           apple             0.50          1.00   200.00
7  17            pear             0.60          1.20   143.00

In [58]:
# Finally, recalculate the store’s total net income, including the new products.

df['current_net_revenue'] = (df['retail_price'] - df['wholesale_price']) * df['sales']

df

   id            name  ...    sales  current_net_revenue
0  23        computer  ...   100.00            50,000.00
1  96  Python Workout  ... 1,000.00            40,000.00
2  97  Pandas Workout  ...   500.00            20,000.00
3  15          banana  ...   200.00               100.00
4  87        sandwich  ...   300.00               600.00
5  24           phone  ...    52.00            15,600.00
6  17           apple  ...   200.00               100.00
7  17            pear  ...   143.00                85.80

[8 rows x 6 columns]

### Beyond the exercise_1

In [59]:
# Add one new product to the data frame without using pd.concat.
# What’s the advantage of pd.concat, and when should you use it?

df.loc[len(df)] = {
    'id' : 71,
    'name' : 'tablet',
    'wholesale_price' : 300,
    'retail_price' : 600,
    'sales' : 40
}

df['current_net_revenue'] = (df['retail_price'] - df['wholesale_price']) * df['sales']

df

   id            name  ...    sales  current_net_revenue
0  23        computer  ...   100.00            50,000.00
1  96  Python Workout  ... 1,000.00            40,000.00
2  97  Pandas Workout  ...   500.00            20,000.00
3  15          banana  ...   200.00               100.00
4  87        sandwich  ...   300.00               600.00
5  24           phone  ...    52.00            15,600.00
6  17           apple  ...   200.00               100.00
7  17            pear  ...   143.00                85.80
8  71          tablet  ...    40.00            12,000.00

[9 rows x 6 columns]

### Beyond the exercise_2

In [67]:
# Add a new column, department, to the data frame. Place each product in a
# department. For example, in our data, we would have three departments:
# electronics, books, and food. Calculate current_net on the data frame, and
# then show descriptive statistics for the current_net on food products.

df['department'] = pd.cut(
    df['retail_price'],
    bins = [0, 10, 80, df['retail_price'].max()],
    labels = ['food', 'book', 'electronics']
)

df[df['department'] == 'food']['current_net_revenue'].describe()

count     4.00
mean    221.45
std     252.46
min      85.80
25%      96.45
50%     100.00
75%     225.00
max     600.00
Name: current_net_revenue, dtype: float64