In [1]:
import pandas as pd
import numpy as np
import random
from pandas import Series, DataFrame

In [2]:
"""
For this exercise, I want you to create a data frame that represents a company’s
inventory of five products. Each product has a unique ID number (a two-digit integer
will do), name, wholesale price, retail price, and number of sales in the last month.
You’re making it up, so if you’ve always wanted to be a profitable starship dealer, this is
your chance! Once you have created this data frame, calculate the total net revenue
from all your products.
"""

df = pd.DataFrame({
    'id' : ['23', '96', '97', '15', '87'],
    'name' : ['computer', 'Python Workout', 'Pandas Workout', 'banana', 'sandwich'],
    'wholesale_price' : [500, 35, 35, 0.5, 3],
    'retail_price' : [1000, 75, 75, 1, 5],
    'sales' : [100, 1000, 500, 200, 300]
})


df['total_net_revenue'] = df['sales'] * (df['retail_price']-df['wholesale_price'])

df

   id            name  wholesale_price  retail_price  sales  total_net_revenue
0  23        computer            500.0          1000    100            50000.0
1  96  Python Workout             35.0            75   1000            40000.0
2  97  Pandas Workout             35.0            75    500            20000.0
3  15          banana              0.5             1    200              100.0
4  87        sandwich              3.0             5    300              600.0

In [3]:
print(f'Total net revenue: {df['total_net_revenue'].sum()}')

Total net revenue: 110700.0

### Beyond the exercise

In [4]:
# For what products is the retail price more than twice the wholesale price?

print(df.query('retail_price > (2 * wholesale_price)'))

print('Python Workout and Pandas Workout are the only products with a retail price more than twice its wholesale price.')

   id            name  wholesale_price  retail_price  sales  total_net_revenue
1  96  Python Workout             35.0            75   1000            40000.0
2  97  Pandas Workout             35.0            75    500            20000.0
Python Workout and Pandas Workout are the only products with a retail price more than twice its wholesale price.

In [5]:
# How much did the store make from food versus computers versus books? (You
# can retrieve based on the index values, not anything more sophisticated.)

print(f'from food: \n {df.iloc[3:5]['total_net_revenue'].sum()}')
print()
print(f'from computers: \n {df.iloc[0]['total_net_revenue'].sum()}')
print()
print(f'from books: \n {df.iloc[1:3]['total_net_revenue'].sum()}')

from food:
 700.0

from computers:
 50000.0

from books:
 60000.0

In [6]:
df

   id            name  wholesale_price  retail_price  sales  total_net_revenue
0  23        computer            500.0          1000    100            50000.0
1  96  Python Workout             35.0            75   1000            40000.0
2  97  Pandas Workout             35.0            75    500            20000.0
3  15          banana              0.5             1    200              100.0
4  87        sandwich              3.0             5    300              600.0

In [7]:
# Because your store is doing so well, you can negotiate a 30% discount on the
# wholesale price of goods. Calculate the new net income.

print(f"the discounted total_net_revenue is: {(((df['retail_price'] - df['wholesale_price']*0.7)) * df['sales']).sum()}")

the discounted total_net_revenue is: 141750.0