In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#### Step 1:

1. Load the temperature data from New York City (from the `nyc-temps.txt` file) into a Series.  
   The measurements are in degrees Celsius.

In [2]:
s = pd.read_csv('../../../data/nyc-temps.txt', header = None, names = ['temp']).squeeze()

#### Step 2:

2. Create a DataFrame with two columns:
   - `temp`, containing the temperatures  
   - `hour`, representing the hours at which the measurements were taken  

   The `hour` values should be:  
   `0, 3, 6, 9, 12, 15, 18, 21`  
   repeated for all 728 data points.

In [3]:
hours = np.arange(0, 24, 3)

df = pd.DataFrame({
    'temp' : s,
    'hour' : np.tile(hours, len(s) // len(hours) +1)[:len(s)]
})

df

     temp  hour
0      -1     0
1      -1     3
2      -1     6
3      -1     9
4      -1    12
..    ...   ...
724     2    12
725     2    15
726     2    18
727     2    21
728     2     0

[729 rows x 2 columns]

#### Step 3:

3. Calculate the __mean__ and __median__ values.  
   These are the real values, which we hope to replicate via interpolation.

In [4]:
temp_real_mean = df['temp'].mean()
temp_real_median = df['temp'].median()

print(
    f'Real mean temperature is {temp_real_mean} ˚C'
    f'\nReal median temperature is {temp_real_median} ˚C'

)

Real mean temperature is -1.0507544581618655 ˚C
Real median temperature is 0.0 ˚C

#### Step 4:

4. Set all values from 3:00 and 6:00 a.m. to `NaN`.

In [5]:
mod_df = df.loc[(df['hour'] == 3) | (df['hour'] == 6), 'temp'] = np.nan

## Step 1:

4. Set all values from 3:00 and 6:00 a.m. to `NaN`.

5. Interpolate the values using the `interpolate()` method.

6. Calculate the mean and median of the interpolated DataFrame.  
   - Are they similar to the real values?  
   - Why or why not?