In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [12]:
passenger_count = pd.read_csv('../../../data/taxi-passenger-count.csv', header=None, names = ['passenger_count']).squeeze()

distance = pd.read_csv('../../../data/taxi-distance.csv', header = None, names = ['distance']).squeeze()

df = pd.concat([passenger_count, distance], axis = 1)

df

      passenger_count  distance
0                   1      1.63
1                   1      0.46
2                   1      0.87
3                   1      2.13
4                   1      1.40
...               ...       ...
9994                1      2.70
9995                1      4.50
9996                1      5.59
9997                6      1.54
9998                1      5.80

[9999 rows x 2 columns]

#### Exercise

In this exercise, you are to create a two-column data frame from the taxi data we looked at in exercise 6.

- The first column should contain the **passenger count** for each trip.
- The second column should contain the **distance (in miles)** for each trip.

Once you have created this data frame, you should:

- Count how many trip distances were **outliers**.
- Calculate the **mean number of passengers for outliers**. Is it different from the
mean number of passengers for all trips?

In [38]:
distance_iqr = (df['distance'].quantile(0.75))- (df['distance'].quantile(0.25))
distance_upper_bound_of_outliers = df['distance'].quantile(0.75) + (1.5 * distance_iqr)
distance_lower_bound_of_outliers = df['distance'].quantile(0.25) - (1.5 * distance_iqr) # NOTE: this is a negative value so i ignore it

print(f'{len(df.loc[(df['distance'] > distance_upper_bound_of_outliers)])} trip distances were outliers.')

1219 trip distances were outliers.